body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: rgb(44, 41, 38);
}

#main-header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(29, 26, 24);
  padding: 0 5%;
}

#nav-home {
  color: rgb(238, 164, 80);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

#nav-items {
  max-width: 300px;
  width: 100%;
}

#nav-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-items li a {
  text-decoration: none;
  color: rgb(185, 131, 31);
  font-size: 1.25rem;
}

#nav-items li a:hover {
  color: rgb(228, 163, 44);
}

main h1 {
  text-align: center;
  color: rgb(238, 164, 80);
  font-size: 3rem;
}

#latest-products {
  max-width: 80%;
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.food-item {
  background-color: rgb(228, 206, 182);
  border-radius: 6px;
  overflow: hidden;
}

.food-item img {
  height: 300px;
  max-width: 400px;
  width: 100%;
  object-fit: cover;
}

.food-item-content {
  padding: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

.food-item-content h2 {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.food-item-content .btn {
  text-decoration: none;
  background-color: rgb(228, 157, 44);
  color: #fff;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.food-item-content .btn:hover {
  background-color: rgb(221, 134, 34);
}
